---
layout: base 
---
<div class="home">
  <div class="home-page">
    <!-- home page header -->
    <section class="home-page-header">
      <div class="container text-center">
        <h1 class="animated fadeInDownBig">{{ page.title | default: 'DESIGNCREATOR' }}</h1>
        <p class="lead">{{ page.excerpt | default: '' }}</p>
        {%- if page.action -%}
          {%- include home-action-btn.html action_btn=action_btn dropdown=dropdown dropdown_items=dropdown_items -%}
        {%- endif -%}
      </div>
    </section>
  {{ content | markdownify }}

</div>