/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  &.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  &.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  &.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  &.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  &.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }

  &.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }

  &.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }

  &.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  &.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}